@model IEnumerable<Chess_club_manager.DataModel.Entity.Arbitrator>

@{
    ViewBag.Title = "Index";
}

<h2>Арбитры</h2>


<table class="table table-bordered">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
        <th>
            Титул
        </th>
        <th>
            Дата добавления
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
    </tr>
}

</table>
