/.vs/
/.idea/
/Chess-club-manager.DataModel/bin/
/Chess-club-manager.DataModel/obj/
/Chess-club-manager/bin/
/Chess-club-manager/obj/
/Chess-club-manager/Properties/PublishProfiles
/packages/
/Chess-club-manager.Tests/bin/
/Chess-club-manager.Tests/obj/

/Chess-club-manager/*.DotSettings
