
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>


<div class="col-md-10 well">
    
    
    <canvas id="myChart" height="100"></canvas>
    <script>
        new Chart(document.getElementById("myChart"),
            {
                "type": "line",
                "data": {
                    "labels":
                    ["1st Tour", "2ns Tour", "10/31 T", "April Tourtament MD", "Chess Play v.2", "June Test", "July game"],
                    "datasets": [
                        {
                            "label": "Player's Rating Chart",
                            "data": [1325, 1460, 1780, 1500, 1850, 2100, 2050],
                            "fill": false,
                            "borderColor": "rgb(75, 192, 192)",
                            "lineTension": 0.1
                        }]
                }, "options": {}
            });

        
    </script>

</div>
 
